---
Checks: '-*,-clang-analyzer-*,portability-*,readability-braces-around-statements,readability-duplicate-include,readability-misleading-indentation,readability-redundant-*,readability-simplify-boolean-expr,bugprone-,linuxkernel-*'
